<% if user_signed_in? == false %>
<!-- /.header -->
<section class="page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 page-title">
                <h4>Serviços</h4>
            </div>
            <!-- /.page-title -->
            <div class="col-xs-6 hidden-xs breadcrumb-wrapper">
                <ol class="breadcrumb pull-right">
                    <li><%=link_to "Home", root_path %></li>
                    <li><%=link_to "A Empresa", companies_path %></li>
                    <li class="active">Serviços</li>
                </ol>
            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<% end %>

<div class="container">
    <hr>
    <% if @soluctions.any? %>
    <% @soluctions.each do |soluction| %>
    <% if soluction.title == "Suporte Técnico" %>
    <hr>
    <% end %>
    <table class="table table-bordered">
      <tr>
         <td>
            <h3><%= soluction.title %></h3>
            <p><b><%= soluction.description %></b></p>
        </td>
    </tr>
</table>
<% end %>
<% else %>
<div class="alert">
  Não há serviços cadastradas!
</div>
<% end %>
</div>