        
        <header class="header">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><%=image_tag 'softline.jpg' %></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                              <%=link_to "A Empresa", companies_path, :class => "dropdown-toggle" %>
                                <ul class="dropdown-menu">
                                    <li><a href="#">UI Elements</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Icons</a></li>
                                    <li><a href="#">Pricing Tables</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">404 Not Found</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Portfolio 2 Columns</a></li>
                                    <li><a href="#">Portfolio 3 Columns</a></li>
                                    <li><a href="#">Portfolio 4 Columns</a></li>
                                    <li><a href="#">Portfolio Item</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fale Conosco</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Blog Layout 1</a></li>
                                    <li><a href="#">Blog Layout 2</a></li>
                                    <li><a href="#">Blog Item</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.nav -->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.navbar -->
        </header>
        <!-- /.header -->
       