<section class="our-services">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4 ">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "laptop" %>
                    </span>
                    <h4>A Empresa</h4>
                    <p>A Softline...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "gear" %>
                    </span>
                    <h4>Serviços</h4>
                    <p>A Softline provem...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "envelope-o" %>
                    </span>
                    <h4>Fale Conosco</h4>
                    <p>Procure entrar em...</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <!-- /.container -->
</section>
