<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "laptop" %>
                    </span>
                    <h4>A Empresa</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "gear" %>
                    </span>
                    <h4>Serviços</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "envelope-o" %>
                    </span>
                    <h4>Fale Conosco</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
</hr>