<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Bem vindo a Softline Informática!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Sobre a Empresa</a>
      </div>


