
<% if user_signed_in? %>
<h1>Administração do Site</h1>
<% else %> 
<section class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      <!-- THE 1ST SLIDE -->
      <li data-transition="boxslide">
        <%= image_tag  'fundo softline.jpg' %>
        <div 
        data-x="145"
        data-y="75"
        data-speed="300"
        data-start="2000"
        data-easing="easeOutExpo"  ></div>
        <div class="tp-caption theme_caption2 lft ltt"
        data-x="145"
        data-y="115"
        data-speed="300"
        data-start="2200"
        data-easing="easeOutExpo"  >Softline Informática Ltda</div>
        <div class="tp-caption theme_caption3 lfl ltl"
        data-x="145"
        data-y="170"
        data-speed="600"
        data-start="2400"
        data-easing="easeOutExpo"  >
      </div>
      <div class="caption sfb stb btn btn-flat flat-inverse btn-bordered"  
      data-x="145"
      data-y="280"
      data-speed="300" 
      data-start="2600"
      data-easing="easeOutExpo"><%=link_to "Veja mais", companies_path %>
    </div>
    <div 
    data-x="265" 
    data-y="280"
    data-speed="300"
    data-start="2800" 
    data-easing="easeOutExpo">
  <div class="caption lfr ltr"
  data-x="685"
  data-y="0"
  data-speed="300"
  data-start="3000"
  data-easing="easeOutExpo"  ></div>
</li>
</ul>
</div>

</section>
<% end %>