
<section class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-4 wrapper-2">
				<h5 class="subpage-title"><i class="icon-compass"></i> Visit Us</h5>
				<address>
					<strong>FLATPOINT, INC.</strong><br>
					795 Folsom Ave, Suite 600<br>
					San Francisco, CA 94107<br>
				</address>
				<h5 class="subpage-title"><i class="icon-phone"></i> Contact</h5>
				<address>
					Phone: (123) 456-7890<br>
					Fax: (123) 456-7890<br>
					<a href="mailto:#">contact@example.com</a>
				</address>
			</div>
		</section>