
<section class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-4 wrapper-2">
				<h5 class="subpage-title"><i class="icon-phone"></i> Contato</h5>
				<address>
					Telefone: (031) 8806-4429 - (031) 8787-8415<br>
					<a href="mailto:#">pedro@softlineinformatica.com.br</a>
				</address>
			</div>
		</section>